@import '../../../scss/vars';
.buttonDefault {
    cursor: pointer;
    border: none;
    border-radius: 30px;
    color: #000;
    font-weight: 600;
    background-color: #fff;
    text-transform: capitalize;
    &:hover {
        transition: 0.2s;
        color: $color_hover;
    }
}